@(myForm: Form[controllers.User.ChangePassword])
@import helper._
@import helper.twitterBootstrap._

@layout("Change Password", Seq(
"" -> doku.kirimdoku.util.MultiLanguage.getLanguage("LANG292","Change password")
)) {

@partial.flash_alert()

	@if(myForm.hasGlobalErrors) {
	<div class="alert alert-error">
		@myForm.globalError().message
	</div>
	}

	@helper.form(routes.User.saveChangePassword(myForm("corporateCode").value, Long.parseLong(myForm("id").valueOr("0"))), args= 'class->"login-form") {
	<input type="hidden" name="corporateCode" value="@myForm("corporateCode").value"/>
	<input type="hidden" name="id" value="@myForm("id").value"/>

	@if(myForm("id").value.equals(session.get("userId"))) {
	<div class="control-group">
		@inputPassword(myForm("currentPassword"), 
		'_label -> doku.kirimdoku.util.MultiLanguage.getLanguage("LANG299","Current password:"), 
		'class -> "required input-xlarge", 
		'minlength -> 6, 
		'placeholder -> doku.kirimdoku.util.MultiLanguage.getLanguage("LANG300","Your current password")
		)
	</div>
	}
	<div class="control-group">
		@inputPassword(myForm("newPassword"), 
		'_label -> doku.kirimdoku.util.MultiLanguage.getLanguage("LANG301","New password:"), 
		'class -> "required input-xlarge", 
		'minlength -> 6,
		'placeholder -> doku.kirimdoku.util.MultiLanguage.getLanguage("LANG302","Input new password..")
		)
	</div>
	<div class="control-group">
		@inputPassword(myForm("newPassword2"), 
		'_label -> doku.kirimdoku.util.MultiLanguage.getLanguage("LANG303","Confirm new password:"), 
		'class -> "required input-xlarge",
		'minlength -> 6, 
		'placeholder -> doku.kirimdoku.util.MultiLanguage.getLanguage("LANG304","Repeat input new password..")
		)
	</div>

	<div class="form-actions">
		<button type="submit" class="btn btn-primary">@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG292","Change password")</button>
	</div>
	}
}

