@(filterForm: Form[controllers.Transaction.FilterForm])
@import helper._
@import helper.twitterBootstrap._


@layout("Transaction Operation"){

<div class="page-header">
    <h1>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG388","Authorize transaction for Full Refund")</h1>
</div>

@partial.flash_alert()

<div class="row">
	<div class="well span12">
		@helper.form(action = routes.Transaction.admin_refund, 'class -> "form-horizontal form-transaction-filter", Symbol("data-remote") -> "true") {
			@helper.input(
			filterForm("transactionCode"),
			'_class -> "search-query",
			'_label -> doku.kirimdoku.util.MultiLanguage.getLanguage("LANG026","Transaction ID"),
			'placeHolder -> doku.kirimdoku.util.MultiLanguage.getLanguage("LANG263","Filter by transaction ID..."),
			'class -> "required"
			) { (id, name, value, args) =>
            <div class="input-append">
				<input type="search" id="@id" name="@name" value="@value" @toHtmlArgs(args)><button type="submit" class="btn"><i class="icon-search"></i> @doku.kirimdoku.util.MultiLanguage.getLanguage("LANG096","Check")</button>
			</div>
			}
		}
    </div>
</div>

<div class="row">
	<div class="span12">
		<div id="transaction-detail-container">
		</div>
    </div>
</div>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/transaction.css")">
<script type="text/javascript" src='@routes.Assets.at("javascripts/transaction.js")'></script>
}
