.login-box {
  padding: 15 15px 0px 15px;
  min-width: 320px;
  max-width: 320px;
  background: rgba(255, 255, 255, 0.8);
}
.login-box h1 {
  font-size: 24px;
  margin-bottom: 0px;
  text-align: center;
}
.login-box input[type=text],
.login-box input[type=password] {
  min-height: 35px;
}
.form-controls {
  margin-top: 20px;
  height: 18px;
}
.transparent {
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
}
img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}
.container {
  position: relative;
}
.offset2 {
  margin-left: 135px;
  margin-top: -10px;
}
input,
textarea,
select,
.uneditable-input {
  height: 34px;
}
button.btn,
input[type="submit"].btn {
  margin-left: 180px;
  min-width: 90px;
}
.copyright {
  margin-top: 6em;
  text-align: right;
  border-left: 0px;
}
