@layout("Documentation"){
<div class="page-header">
	<h1>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG147","Documentation & FAQ")</h1>
</div>

<div id="lipsum">
	<ol>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG148","Q: What if Sender or Receiver forgot PIN?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG149","A: Transaction have to be locked first and then Sender must Unlock Transaction to original Sending Operator.")</p>
		</li>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG150","Q: What if Sender forgot Transaction ID?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG151","A: Sender have to ask to Original Sending Operator, and Sending Operator will check on Transaction Management.")</p>
		</li>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG152","Q: What if Receiver forgot Transaction ID?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG153","A: Receiver have to ask Transaction ID to Sender.")</p>
		</li>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG154","Q: What if Sender want to Send Money in high value?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG155","A: Sender must fill in HVFT Form first. And if Supervisor agreed that, Operator must call MTS Operational Administrator to authorize HVFT request.")</p>
		</li>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG156","Q: What if Sender is one of Interdiction List Customer?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG157","A: Operator must tell to Sender, that system is down and will be fixed in few hours. After that, Operator must call MTS Operational Administrator, that there is Sender detected as Interdiction customer.")</p>
		</li>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG158","Q: What if Sender is one of Banned List Customer?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG159","A: Operator must tell to Sender, that system is down and will be fixed in few hours. After that, Operator must call MTS Operational Administrator, that there is Sender detected as Banned customer.")</p>
		</li>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG164","Q: What if Receiver is one of Banned List Customer?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG165","A: Operator must tell to Receiver, that system is down and will be fixed in few hours. After that, Operator must call MTS Operational Administrator, that there is Receiver detected as Banned customer.")</p>
		</li>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG160","Q: What if money is taken by undesignated Receiver?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG161","A: Operator must request designated Receiver ID and if the undesignated Receiver cannot provide designated ID then Receive Money process cannot be processed.")</p>
		</li>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG162","Q: What if Receiver is one of Interdiction List Customer?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG163","A: Operator must tell to Receiver, that system is down and will be fixed in few hours. After that, Operator must call MTS Operational Administrator, that there is Receiver detected as Interdiction Customer.")</p>
		</li>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG166","Q: What if internet connection lost while transaction is ongoing?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG167","A: Please check on menu Transaction Management, if related transaction is listed on transaction management the Operator don't have to do transaction again. Otherwise, please do transaction again.")</p>
		</li>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG168","Q: What if Operator cannot access MTS Web Application?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG169","A: Please make sure that internet connection is going well. Otherwise, Operator can call our Customer Service.")</p>
		</li>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG170","Q: What if Sender want to do full refund?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG171","A: Operator must request to MTS Operational Administrator for full refund authorization. Once MTS Operational Administrator has authorized full refund request, Operator can proceed Full Refund.")</p>
		</li>
		<li>
			<strong>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG172","Q: What if Sender Change Transaction for three times in one transaction?")</strong>
			<p>@doku.kirimdoku.util.MultiLanguage.getLanguage("LANG173","A: Sender can proceed transaction, but that Sender will be listed as Banned List later by MTS Operational Administrator manually.")</p>
		</li>
       </ol>
    </div>
}

