//DASHBOARD

.dashboard-region {
  .dashboard-statistics {
  }
  .dashboard-pane {

	#operations {
		margin-top: 12px;
		.btn-large {
		  width: 100%;
		  margin: 12px 0px;
		  box-sizing: border-box;
		}
	}

	#topagents {
		margin-top: 19px;
        .thumbnails img {
            width: 96px;
            height: 96px;
        }
	}

	#news {
		margin-top: 15px;
	}
  }

  .box {
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
	padding: 5px 10px;
    .box-footer {
      background-color: whiteSmoke;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 2px;
    }
  }
}


svg {
    display: block;
}

#chart1 svg {
    height: 300px;
    min-width: 100px;
    min-height: 100px;
}

.graph {
  margin-left:0px;
  padding: 5px;
}


.box .carousel {
    margin-bottom: 0px;
    .box-footer {
        padding: 2px;
        width: 99%; // sort fix overlapse
    }
    .btn-carousel {
        border-radius: 16px;
        padding: 0px 5px;
        min-width: 10px
    }
    .nav {
        z-index:100;
        margin-top: 4px;
    }

    .nav li {
        display:block;
        float:left;
        width:10px;
        height:10px;
        line-height:10px;
        -webkit-border-radius:7px;
        background: #c5c5c5;
        overflow:hidden;
        padding:0;
        margin:1px 6px 0 0;
        text-align:center;
    }

    .nav li#prev {
        margin-left:5px;
        background:transparent;
    }

    .nav li#next {
        margin-right:0;
        background:transparent;
    }

    .nav li.selected {
        background:#555;
    }

    .carousel-inner ul {
        padding-left:30px;
    }

    .thumbnail{
        text-align: center;
    }
   thead{
       text-align: center;
   }

}

#topagents {
    .carousel {
        h5 {
            min-height: 38px;
        }
    }
}
