@(user: models.User, link: String)
@import helper._
@import helper.twitterBootstrap._




<div style="font-family: helvetica; font-size: 14px; padding: 3em;">
	<div>
		<img src="http://www.kirimdoku.com/assets/images/doku_small.png"><br/><br/>
	</div>
	<div>
		Dear <b>@user.firstName @user.lastName</b>,
		<p>We have received your request  to change password on your account.
			In order for us to process your request, please click the link below:</p><br/><br/>
		<p><a href="@link">@link</a></p>

		<br/><br/>


		<p><strong>Important Note:</strong></p>
			<pre style="font-family: helvetica; font-size: 14px;">       1. Link valid for only 24 hours from the receipt of this email.
       2. For the security of data and information, dont forward this email to anyone..</pre>
		<br/>
		<br/>
		<br/>
		<p>Thank You,</p>
		<p>DOKU Team</p>
		<br/>
		<br/>
		<br/>
		<center><p style="text-shadow:#666666; font-size:16px ; font-weight:bold"><i>Send Money Made Easy</i></p></center><p align="center" style="font-size:10px; margin-top:-15px;">"Thank you for using our services and have a nice day"</p>
		<p align="right"><b>Customer Care DOKU </b> +62 2261807511 (Monday - Saturday)</p>
		<hr/>
		<p style="font-size: 11px;"><b>Copyright @@ 2012 DOKU</b> Please be sure to keep your <b>transaction and verification code (PIN)</b>.
			Make sure you send the codes to the person that registered in the data sender or receiver. <b>Strictly prohibited</b> to give
			<b>the transaction code and verification code (PIN)</b> to unregistered person in the data sender or receiver. All kinds of offenses or omission will be dealt according to company rules and remittance regulations.
			Content of this email and all attachment is intended for the email recipient only. Any opinions that contained in this email, is the personal opinion
			of the sender and not the representation of <b>DOKU</b>. If you are not the recepient of this email, you have no right to copying and showing this email to another person.
			Please contact the sender of this email, if you are sure that this email is not intende for you.
		</p>

	</div>
</div>
