@(key: String, user: models.User, resetForm: Form[Login.ResetPasswordForm])
@import helper._
@import helper.twitterBootstrap._

@layoutLogin {
    @if(resetForm.hasGlobalErrors) {
    <div class="alert alert-error">
        @resetForm.globalError().message
    </div>
    }

	<div class="page-header">
		<h3>Reset Password</h3>
		<small><strong>@user.firstName</strong>, Please follow the instruction below</small>
	</div>

	@partial.flash_alert()


	@helper.form(routes.Login.resetPasswordSubmit(),
	'id -> "resetPassword-form",
	'class -> "login-form") {
	<input type="hidden" name="user.id" value="@{user.id}"/>
	<input type="hidden" name="key" value="@{key}"/>
        <div class="control-group row-fluid">
			@inputPassword(resetForm("password"), '_label -> "Please enter your new password:", 'class -> "span12 input-xlarge required password", 'minlength -> "6", 'placeholder -> "Your password")
        </div>
        <div class="control-group row-fluid">
            @inputPassword(resetForm("password2"), '_label -> "Confirm your new password:", 'class -> "span12 input-xlarge required password", 'minlength -> "6", 'placeholder -> "Repeat Your password")
        </div>

        <div class="form-controls">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Reset password</button>
            </div>
        </div>
    }
}

