<div id="alert-container">
	@if(flash.contains("error")) {
	<div class="row-fluid">
		<div class="span12 alert alert-error">
			<img src="@routes.Assets.at("images/alert-error.png")"/>
			@Html(flash.get("error"))
		</div>
	</div>
	}
	@if(flash.contains("success")) {
	<div class="row-fluid">
		<div class="span12 alert alert-success">
			<img src="@routes.Assets.at("images/alert-success.png")"/>
			@Html(flash.get("success"))
		</div>
	</div>
	}
	@if(flash.contains("warning")) {
	<div class="row-fluid">
		<div class="span12 alert alert-warning">
			<img src="@routes.Assets.at("images/alert-warning.png")"/>
			@Html(flash.get("warning"))
		</div>
	</div>
	}
</div>
